.top-bar .nav-item {
    display: inline-block;
  }
  
  nav {
    padding: 0px;
  }
  
  nav.top-bar-wrap {
    /* background: #ffb66c; */
    background: #393837;
  }
  
  .top-bar-wrap {
    height: 40px;
    line-height: 40px;
  }
  
  .main-nav-wrap {
    height: 80px;
    line-height: 80px;
  }
  
  nav.main-nav-wrap {
    /* background: #7c2222;
    font-size: 1.25rem */
    background: #000000;
    font-size: 1.25rem;
  }
  
  nav.top-bar-wrap ul,
  nav.main-nav-wrap ul {
    margin-bottom: 0px;
    margin-top: 0px
  }
  
  a.nav-link:hover {
    /* background: rgba(0, 0, 0, 0.2);
    color: #fff;
    border-left: 12px solid rgba(0, 0, 0, 0.3); */
  }
  
  a.nav-link {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    color: #f9f9f9;
    text-transform: uppercase;
    font-family: '
    Rubik'
    ,
    sans-serif;
    /* transform: skew(-25deg); */
    transition: all 400ms ease-out
  }
  
  a .inner-link {
    display: inline-block;
    /* transform: skew(25deg) */
  }
  
  .nav-link {
    padding: 0px;
  }
  
  .top-bar-wrap a {
    padding-left: 12px;
  }
  
  .main-nav-wrap a {
    padding-left: 18px;
  }
  
  .brand-logo img {
    height: 40px;
    transform: skew(25deg)
  }
  
  .brand-phone a {
    display: block;
    font-size: 1.25em;
    text-decoration: none;
    color: #000000;
    letter-spacing: 2px;
    height: 40px;
    line-height: 1.5em;
    transform: skew(25deg)
  }
  
  .brand-phone,
  .brand-logo {
    padding: 40px;
    position: absolute;
    top: 0;
    height: 120px;
    
    transform: skewX(-25deg);
  }
  
  .brand-logo {
   

    left: 6px;
    /* padding-left: 43px; */
    background: #7c7b7b;
    border-right: 2px solid #8d8d8d;
    background-image: url("../../assets/Imgs/logo1.jpg");
    width: 119px;
    height: 137px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: skewX(-22deg);

  }
  
  /* .brand-phone {
    right: 0;
    right: 32px;
    padding-right: 70px;
    background: #ffb66c;
    border-left: 3px solid #6c4013;
  } */
  .brand-phone {right: 32px;
    padding-right: 70px;
    background: #7c7b7b;
    border-left: 3px solid #968e90;
    /* box-shadow: 0px 4px 9px 1px #515151; */
  }
  #headerFont{
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 22px;
    font-weight: bolder;
    color: silver;
}
#mobileHeader{
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 20px;
    font-weight: bolder;
    color: #FF5722;
   
    
}  
#siteName{
  font-size: 46px;
  color: var(--bs-gray);
  font-family: monospace;
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.logo-img {
  height: 40px; /* Adjust the height as needed */
}

.top-bar-wrap .nav-item:first-child,
.main-nav-wrap .nav-item:first-child {
  padding-left: 0; /* Remove left padding for the logo */
  margin-right: 10px; /* Add some spacing between the logo and other navigation items */
}


