<div role="navigation" style="padding-bottom: 6px;padding-top: 6px;box-shadow: inset -20px 5px 20px 0px #030303;;">
    <div class="" style="box-shadow: -4px 20px 0px 0px #181818;">
      <div class="brand-logo">

      </div>
      <!-- <div class="brand-phone">
        <a href="#" id="mobileHeader"><i class="fa fa-phone me-3"></i>0554770788  -  0536669104</a>
      </div> -->

      <div class="text-center">
        <nav class="top-bar-wrap">
          <ul class="top-bar">
            <li class="nav-item">
                <a href="#" class="nav-link"><span class="inner-link"><p id="headerFont">إتصل بنا</p></span></a>
              </li>
            <li class="nav-item">
              <a href="#" class="nav-link"><span class="inner-link"><p id="headerFont">خدماتنا</p></span></a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link"><span class="inner-link"><p id="headerFont">عملائنا</p></span></a>
              </li>
            <li class="nav-item">
              <a href="#" class="nav-link"><span class="inner-link"><p id="headerFont">من نحن</p></span></a>
            </li>
            
            <li class="nav-item">
                <a href="#ourGool" class="nav-link"><span class="inner-link"><P id="headerFont">اهدافنا</P></span></a>
              </li>
            <li class="nav-item">
              <a href="#ourWorksDiv" class="nav-link"><span class="inner-link"><P id="headerFont">معرض أعمالنا</P></span></a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link"><span class="inner-link"><P id="headerFont">الرئيسيـة</P></span></a>
            </li>
            <li class="nav-item" id="mobileHeader">
              <i class="fa fa-phone me-3"  ></i>0554770788  -  0536669104

            </li>
          </ul>
        </nav>
        <nav class="main-nav-wrap">
          <ul class="main-nav">
            <li class="nav-item">
              <a href="#" class="nav-link"><span class="inner-link"><p id="siteName"> مؤسسة العمران لأنظمة الزجاج الذكية</p></span></a>
            </li>
          
          </ul>
        </nav>
      </div>
    </div>
  </div>
